@media only screen and (max-width: 768px) {
  /*---------------------------------------PRODUCTO------------*/
  .productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .productos .cajaRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .productos .cajaRow .cajaRow__producto {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .productos .cajaRow--reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .productos .cajaRow--reverse .cajaRow__producto {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .productos .cajaRow--reverse .cajaRow__producto .cajaRow__producto__texto {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  /*-------------------------------------------GALERIA-----------*/
  .galeria .galeria__fotos img {
    opacity: 1;
  }
  /*-------------------------------------------CONTACTO---------*/
  .contacto__principal form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2%;
    max-width: 100%;
  }
  .contacto__principal form .datosPersonales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacto__principal form .datosPersonales .nombreApellido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto__principal form .datosPersonales .telefono {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto__principal .logoRectangular {
    max-width: 90%;
  }
  .textArea {
    max-width: 100%;
  }
  #boton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #boton .boton {
    margin: 0;
  }
  /*----------------------- FOOTER-----------------------*/
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer__derechos p {
    text-align: center;
  }
  footer #footer__links .linksFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  footer #footer__links .linksFooter li {
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  /*---------------------GENERALES--------------------*/
  html {
    font-size: 67%;
  }
  .nav-link {
    font-size: 1.4rem;
  }
  /*----------------------HOME--------------------*/
  .home__principal .home__titulo1 {
    margin-top: 6rem;
  }
  .home__principal .home__principal__texto {
    margin: 4rem;
  }
  /*----------------------ERROR--------------------*/
  .error {
    margin-bottom: 5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*----------------------------------BODY-----*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7e4e4;
}

/*---------------------------------HEADER----*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../img/Header-impar.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

header #header__logo {
  width: 30%;
  min-width: 20rem;
  margin: 1% 1% 1% 1%;
}

header nav {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5bbcb), to(#f7e4e4));
  background-image: linear-gradient(#f5bbcb, #f7e4e4);
}

header nav .nav-item:hover {
  background-color: rgba(245, 187, 203, 0.61);
}

header nav .nav-item:hover .nav-link:hover {
  color: black;
}

/*------------------------------FOOTER-------*/
footer {
  padding: 2%;
  background-image: url(../img/footer.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer__derechos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer__derechos p {
  font-size: 1.2rem;
}

footer #footer__links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer #footer__links .linksFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer #footer__links .linksFooter li {
  padding-left: 1rem;
}

/*-------------LOGO-CENTRAL-PIE-DE-PAGINA----*/
.imgLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6%;
}

/*-----VARIABLES--------------*/
/*---------GENERAL-----------*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7e4e4;
}

/*-------------------HOME---------------------------------*/
#home section {
  margin-bottom: 2rem;
}

#home section .home {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/uni_original.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/uni_original.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

#home section .home .home__titulo1 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 9rem;
  padding-bottom: 5%;
}

#home section .home .home__principal__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home section .home .home__principal__texto .p1 {
  color: white;
  line-height: 1.6;
  text-align: center;
  font-size: 1.5rem;
  width: 70%;
  margin: auto;
  padding-top: 5rem;
}

#home section .homeIntro {
  padding: 2%;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  font-size: 1.3rem;
  width: 80%;
  border-radius: 1rem;
}

.home2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*flex-wrap: wrap;*/
}

.home2 h2 {
  color: #5db7c5;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.home2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home2 div .desayunos {
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  border-radius: 2rem;
}

.home2 .divText2 {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home2 .divText2 .text2 {
  padding: 2%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  font-size: 1.3rem;
  width: 80%;
  margin: auto;
  border-radius: 1rem;
}

.home2 .botonIndex {
  text-decoration: none;
  color: black;
  background-color: #f7a8be;
  border-radius: 1rem;
  padding: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/*----------------------PRODUCTOS--------------------------*/
.productos {
  padding: 2%;
  padding-bottom: 0;
}

.productos .productos__titulo2 {
  color: #5db7c5;
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  padding-top: 9rem;
  padding-bottom: 1%;
}

.productos .productos__subtituloProductos {
  padding: 1% 0% 2% 0%;
  text-align: center;
  font-size: 1.3rem;
}

.cajaRow__producto {
  width: 40rem;
  height: 20rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.6;
  text-align: left;
  font-size: 1.3rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  margin: 2rem;
}

.cajaRow__producto .cajaRow__producto__texto {
  width: auto;
}

.cajaRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cajaRow--reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cajaRow__img {
  width: 20rem;
  height: 22rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
}

#desayunos .divisor {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 2rem;
  margin: auto;
  margin-bottom: 2rem;
}

#desayunos .divisor img {
  width: 40rem;
}

#desayunos .desayunos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#desayunos .desayunos h2 {
  margin-top: 2rem;
  padding: 0 2rem;
  color: #5db7c5;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

#desayunos .desayunos p {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  line-height: 1.6;
  text-align: left;
  font-size: 1.3rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  margin: 2rem;
  width: auto;
}

#desayunos .desayunos .contenedorImgDesayuno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#desayunos .desayunos .contenedorImgDesayuno div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#desayunos .desayunos .contenedorImgDesayuno .imgDesayuno {
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  border-radius: 1rem;
}

#desayunos #carouselExampleCaptions .carousel-inner .carousel1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/desayuno/carousel1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/desayuno/carousel1.jpg);
  background-position: center;
  background-size: cover;
  min-height: 70vh;
}

#desayunos #carouselExampleCaptions .carousel-inner .carousel2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/desayuno/carousel2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/desayuno/carousel2.jpg);
  background-position: center;
  background-size: cover;
  min-height: 70vh;
}

#desayunos #carouselExampleCaptions .carousel-inner .carousel3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/desayuno/carousel3.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/desayuno/carousel3.jpg);
  background-position: center;
  background-size: cover;
  min-height: 70vh;
}

/*---------------------GALERIA----------------------------*/
.galeria {
  padding: 2%;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.galeria .galeria__titulo {
  color: #5db7c5;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  padding-top: 9rem;
  padding-bottom: 1%;
}

.galeria .galeria__fotos {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galeria .galeria__fotos img {
  width: 280px;
  height: 300px;
  border-radius: 2rem;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.5rem;
  max-width: 100%;
  opacity: 0.5;
  padding: 2%;
}

.galeria .galeria__fotos img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 1.3s ease-in-out;
  transition: 1.3s ease-in-out;
  opacity: 1;
}

/*-------------------CONOCENOS--------------------------*/
.conocenos {
  padding: 2%;
  padding-bottom: 0;
}

.conocenos .conocenos__titulo {
  color: #5db7c5;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  padding-top: 9rem;
  padding-bottom: 1%;
}

.conocenos .conocenos__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.conocenos .conocenos__contenido .textConocenos {
  margin: 1rem;
  padding: 2rem;
  line-height: 1.6;
  text-align: left;
  font-size: 1.3rem;
  width: 40rem;
}

.conocenos .conocenos__contenido .textConocenos p {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
  border-radius: 1rem;
  padding: 1rem;
}

.conocenos .conocenos__contenido .imgConocenos img {
  width: 100%;
  max-width: 30rem;
  padding: 1rem;
  border-radius: 2rem;
}

/*-------------------CONTACTO---------------------------*/
.contacto {
  padding: 2%;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.contacto .contacto__titulo {
  color: #5db7c5;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  padding-top: 9rem;
  padding-bottom: 1%;
}

.contacto__principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacto__principal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.3rem 2rem 2rem 2rem;
}

.contacto__principal form .datosPersonales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto__principal form .datosPersonales .nombreApellido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacto__principal form .datosPersonales .telefono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacto__principal .logoRectangular {
  margin: 1.3rem;
  width: 35.4rem;
  border-radius: 1rem;
}

.inputDatos {
  padding: 0.2rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  border-color: rgba(114, 113, 113, 0.699);
}

.textArea {
  border-radius: 0.5rem;
  border-color: rgba(114, 113, 113, 0.699);
}

.contacto2 {
  margin: 3% 2% 3% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.contacto2 .aviso {
  color: #5db7c5;
  font-weight: bold;
  margin: 2rem 0;
}

.contacto2 p {
  line-height: 1.6;
  text-align: center;
  font-size: 1.3rem;
}

#boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#boton .boton {
  border-style: double;
  border-color: #85c2cb;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

/*--------------------------------ERROR 404-------------------------*/
.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12rem;
}

.error h1 {
  color: #3b150a;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
}

.error img {
  width: 40rem;
  margin-bottom: 3rem;
  margin: 2rem 0;
}

.error a {
  background-color: #f7a8be;
  color: #3b150a;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 1rem;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */