@media only screen and (max-width: 768px) {
  /*-------------------------NAV-------------------------------*/
  .nav-link {
    text-align: left !important;
  }
  /*---------------------------------------PRODUCTO------------*/
  .productos {
    @include flex(flex, column, none, center, nowrap);

    .caja-row {
      @include flex(flex, column-reverse, none, center, nowrap);

      .caja-row-producto {
        width: fit-content;
      }
    }
    .caja-row-reverse {
      @include flex(flex, column-reverse, none, center, nowrap);

      .caja-row-producto {
        width: fit-content;

        .caja-row-texto {
          width: fit-content;
        }
      }
    }
  }
  /*-------------------------------------------GALERIA-----------*/
  .galeria {
    .galeria-fotos {
      img {
        opacity: 1 !important;
      }
    }
  }
  /*-------------------------------------------CONTACTO---------*/
  .contacto-principal {
    form {
      @include flex(flex, column, none, none, nowrap);
      padding: 2%;
      max-width: 100%;

      .datos-personales {
        @include flex(flex, column, none, none, nowrap);

        .nombre-apellido {
          @include flex(flex, column, center, none, nowrap);
        }

        .telefono {
          @include flex(flex, column, center, none, nowrap);
        }
      }

      div .textarea {
        max-width: 100%;
      }

      #boton {
        @include flex(flex, row, space-evenly, none, nowrap);

        .boton {
          margin: 0;
        }
      }
    }
  }

  /*----------------------- FOOTER-----------------------*/
  footer {
    @include flex(flex, column, center, center, nowrap);

    .footer-derechos {
      p {
        text-align: center;
      }
    }

    #footer-items {
      .footer-links {
        @include flex(flex, row, none, center, nowrap);
        padding-left: 0;

        li {
          padding-right: 1rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  /*---------------------GENERALES--------------------*/
  html {
    font-size: 67%;
  }
  .nav-link {
    font-size: 1.4rem;
    text-align: left !important;
  }

  /*----------------------HOME--------------------*/
  .home-principal {
    .home-titulo {
      margin-top: 6rem;
    }
    .home-principal-texto {
      margin: 4rem;
    }
  }
  /*----------------------ERROR--------------------*/
  .error {
    margin-bottom: 5rem;
  }
}
