/*-----VARIABLES PROPIAS--------------*/
$colorTitulos: rgb(56, 145, 153);
$ancho: 280px;
$alto: 300px;
$fuenteTexto: 1.3rem;
$bgTexto: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
$paddingTexto: 1rem;
$borderTexto: 1rem;
/*------------VARIABLES MODIFICADAS BOOTSTRAP-----------*/
$navbar-light-color: black !default;
