@import "variablesPropias";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "mixin-extend";
@import "media";
@import "global";

/*-------------------HOME---------------------------------*/
#home {
  section {
    margin-bottom: 2rem;
    .home {
      padding: 2%;
      @include flex(flex, column, none, center, none);
      margin-bottom: 2rem;

      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../img/uni_original.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 100vh;

      .home-principal {
        @include flex(flex, column, none, center, none);

        .home-titulo {
          color: rgb(255, 255, 255);
          font-size: 3rem;
          font-weight: bold;
          text-align: center;
          padding-top: 9rem;
          padding-bottom: 5%;
        }

        .p1 {
          color: white;
          line-height: 1.6;
          text-align: center;
          font-size: 1.5rem;
          width: 70%;
          margin: auto;
          padding-top: 5rem;
        }
      }
    }
    .home-intro {
      @extend .bgTextos;
    }
  }
}

// SEGUNDA SECCION DE HOME
.home2 {
  padding: 2%;
  padding-bottom: 0;
  width: 100%;
  @include flex(flex, column, none, center, nowrap);

  .home2-intro {
    h2 {
      color: $colorTitulos;
      font-weight: bold;
      text-align: center;
      margin: auto;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .home-text2 {
      margin-top: 2%;
      @extend .bgTextos;
    }
  }

  div {
    @include flex(flex, row, center, none, wrap);

    div {
      .desayunos-img {
        width: 14rem;
        height: 14rem;
        margin: 2rem;
        border-radius: 2rem;
      }
    }
  }

  .boton-home {
    text-decoration: none;
    color: black;
    background-color: rgb(247, 168, 190);
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
  }
}
/*----------------------PRODUCTOS--------------------------*/
.productos {
  padding: 2%;
  padding-bottom: 0;

  .productos-titulo {
    color: $colorTitulos;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    padding-top: 9rem;
    padding-bottom: 1%;
  }

  .subtitulo-productos {
    padding: 2% 0;
    text-align: center;
    font-size: $fuenteTexto;
  }
}

.caja-row-producto {
  @include flex(flex, row, none, center, nowrap);

  @extend .bgTextos;
  width: 40rem;
  height: 20rem;
  margin: 2rem;

  .caja-row-texto {
    width: auto;
  }
}

.caja-row {
  @include flex(flex, row, center, none, nowrap);
}

.caja-row-reverse {
  @include flex(flex, row-reverse, center, none, nowrap);
}

.caja-row-img {
  width: 20rem;
  height: 22rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
}

// SEGUNDA SECCION DE PRODUCTOS: DESAYUNOS
#desayunos {
  padding: 2%;
  padding-bottom: 0;
  .divisor-desayunos {
    width: fit-content;
    padding: 0 2%;
    margin: auto;
    margin-bottom: 2rem;
    img {
      width: 40rem;
    }
  }
  .desayunos {
    @include flex(flex, column, none, center, nowrap);

    h2 {
      margin-top: 2rem;
      padding: 0 2rem;
      color: $colorTitulos;
      text-align: center;
      font-weight: bold;
      width: 100%;
    }

    p {
      @extend .bgTextos;
      margin: 2rem;
      width: auto;
    }
    .imagenes-desayuno {
      @include flex(flex, row, center, none, wrap);

      div {
        @include flex(flex, row, center, none, wrap);
      }

      .img-desayuno {
        width: 14rem;
        height: 14rem;
        margin: 2rem;
        border-radius: 1rem;
      }
    }
  }

  #carouselExampleCaptions {
    .carousel-inner {
      @each $carousel in carousel1, carousel2, carousel3 {
        .#{$carousel} {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url(../img/desayuno/#{$carousel}.jpg);
          background-position: center;
          background-size: cover;
          min-height: 70vh;
          border-radius: 1rem;
        }
      }
    }
  }
}

/*---------------------GALERIA----------------------------*/
.galeria {
  padding: 2%;
  padding-bottom: 0;
  @include flex(flex, column, none, none, nowrap);

  .galeria-titulo {
    color: $colorTitulos;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    padding-top: 9rem;
    padding-bottom: 1%;
  }

  .galeria-fotos {
    width: fit-content;
    max-width: 1200px;
    margin: auto;

    @include flex(flex, row, center, none, wrap);

    img {
      width: $ancho;
      height: $alto;
      border-radius: 2rem;
      cursor: pointer;
      object-fit: cover;
      margin: 0.5rem;
      max-width: 100%;
      opacity: 0.5;
      padding: 2%;

      &:hover {
        transform: scale(1.2, 1.2);
        transition: 1.3s ease-in-out;
        opacity: 1;
      }
    }
  }
}

/*-------------------CONOCENOS--------------------------*/
.conocenos {
  padding: 2%;
  padding-bottom: 0;

  .conocenos-titulo {
    color: $colorTitulos;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    padding-top: 9rem;
    padding-bottom: 1%;
    width: auto;
    margin: 0 2rem;
  }

  .conocenos-contenido {
    @include flex(flex, column, none, center, wrap);

    .conocenos-texto {
      @extend .bgTextos;
      margin: 1rem;
    }

    .conocenos-img {
      background-image: url(../img/unicentrada2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position-x: center;
      border-radius: 1rem;

      width: 80%;
      height: 60vh;
      margin: auto;
    }
  }
}

/*-------------------CONTACTO---------------------------*/
.contacto {
  padding: 2%;
  padding-bottom: 0;
  @include flex(flex, column, none, center, nowrap);
  margin: auto;

  .contacto-titulo {
    color: $colorTitulos;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    padding-top: 9rem;
    padding-bottom: 1%;
  }
}

.contacto-principal {
  @include flex(flex, row-reverse, center, flex-start, wrap);

  form {
    @include flex(flex, column, none, none, nowrap);
    margin: 1.3rem 2rem 2rem 2rem;

    .datos-personales {
      @include flex(flex, column, none, none, nowrap);

      .nombre-apellido {
        display: flex;
        justify-content: space-between;
      }

      .telefono {
        display: flex;
        justify-content: space-between;
      }
    }

    div .textarea {
      border-radius: 0.5rem;
      border-color: rgba(114, 113, 113, 0.699);
    }

    #boton {
      @include flex(flex, row, flex-end, none, nowrap);

      .boton {
        border-style: double;
        border-color: rgb(133, 194, 203);
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-left: 1rem;
      }
    }
  }

  .contacto-img {
    margin: 1.3rem;
    width: 36.4rem;
    border-radius: 1rem;
  }
}

.input-datos {
  padding: 0.2rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  border-color: rgba(114, 113, 113, 0.699);
}

// SEGUNDA SECCION DE CONTACTO

.contacto2 {
  margin: 3% 2%;
  @include flex(flex, column, none, center, nowrap);
  margin: auto;

  .aviso {
    color: $colorTitulos;
    font-weight: bold;
    margin: 2rem 0;
  }
  p {
    @extend .bgTextos;
    text-align: center;
  }
}

/*--------------------------------ERROR 404-------------------------*/
.error {
  @include flex(flex, column, none, center, nowrap);
  margin-top: 12rem;

  h1 {
    color: rgb(59, 21, 10);
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  img {
    width: 40rem;
    margin-bottom: 3rem;
    margin: 2rem 0;
  }
  a {
    background-color: rgb(247, 168, 190);
    color: rgb(59, 21, 10);
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 1rem;
    text-decoration: none;
  }
}
